<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>
    <a href="/auth/login"> Log In </a>
    <a href="/main"> Main Page </a>
    <a href="/private">Private </a>
</p>

  <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>
